# Copia este archivo como .env y rellena los valores reales
# NUNCA subas .env a git

AWS_ACCESS_KEY_ID=ASIA...
AWS_SECRET_ACCESS_KEY=...
AWS_SESSION_TOKEN=...
AWS_REGION=us-east-1
S3_BUCKET_NAME=archivacloud-p07
FRONTEND_ORIGIN=http://localhost:5173
